.primary{
  background-color: orange;
}
.p{
  color: orange;
}

.ac
{
  text-align: center;
}

.prime
{
  background-color:rgba(75, 73, 73, 0.758) ;
  color: white;
}

h3
{
  text-align: center;
}

.img
{
  clip-path: circle();
}
.border
{
  border: 10px solid orange;
}

.color
{
  color: #000;
  text-decoration: none;
}

